:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 0 255 130;
  --oui-color-primary-light: 0 200 100;
  --oui-color-primary-darken: 0 120 60;
  --oui-color-primary-contrast: 0 30 10;

  --oui-color-link: 0 255 150;
  --oui-color-link-light: 0 200 120;

  --oui-color-secondary: 0 60 30;
  --oui-color-tertiary: 0 45 20;
  --oui-color-quaternary: 0 35 15;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 19 1 1;

  --oui-color-success: 0 255 130;
  --oui-color-success-light: 0 200 120;
  --oui-color-success-darken: 0 120 60;
  --oui-color-success-contrast: 5 0 0;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 1 24 3;

  --oui-color-fill: 5 15 8;
  --oui-color-fill-active: 10 25 12;

  --oui-color-base-1: 0 30 15;
  --oui-color-base-2: 0 25 12;
  --oui-color-base-3: 0 20 10;
  --oui-color-base-4: 0 18 9;
  --oui-color-base-5: 0 15 8;
  --oui-color-base-6: 0 12 6;
  --oui-color-base-7: 0 10 5;
  --oui-color-base-8: 0 8 4;
  --oui-color-base-9: 0 6 3;
  --oui-color-base-10: 0 4 2;

  --oui-color-base-foreground: 0 255 150;
  --oui-color-line: 0 80 40;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 15 0 0;
  --oui-color-trading-profit: 0 255 130;
  --oui-color-trading-profit-contrast: 0 30 10;

  /* gradients */
  --oui-gradient-primary-start: 0 80 40;
  --oui-gradient-primary-end: 0 255 130;

  --oui-gradient-secondary-start: 0 70 35;
  --oui-gradient-secondary-end: 0 255 130;

  --oui-gradient-success-start: 0 90 45;
  --oui-gradient-success-end: 0 255 140;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 0 80 40;
  --oui-gradient-brand-end: 0 255 130;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 120 90 0;
  --oui-gradient-warning-end: 255 210 60;

  --oui-gradient-neutral-start: 0 25 10;
  --oui-gradient-neutral-end: 0 35 15;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}
