:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 0 80 40;
  --oui-color-primary-light: 20 150 80;
  --oui-color-primary-darken: 0 40 20;
  --oui-color-primary-contrast: 5 255 180;

  --oui-color-link: 1 86 18;
  --oui-color-link-light: 1 25 12;

  --oui-color-secondary: 0 20 5;
  --oui-color-tertiary: 1 24 8;
  --oui-color-quaternary: 0 20 4;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 19 1 1;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 4 39 2;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 5 0 0;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 1 24 3;

  --oui-color-fill: 24 22 30;
  --oui-color-fill-active: 30 28 36;

  --oui-color-base-1: 24 22 30;
  --oui-color-base-2: 22 20 28;
  --oui-color-base-3: 20 18 25;
  --oui-color-base-4: 19 17 24;
  --oui-color-base-5: 17 15 21;
  --oui-color-base-6: 15 13 19;
  --oui-color-base-7: 13 11 17;
  --oui-color-base-8: 11 9 15;
  --oui-color-base-9: 9 7 13;
  --oui-color-base-10: 7 5 11;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 1 30 3;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 15 0 0;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 15 0 0;

  /* gradients */
  --oui-gradient-primary-start: 0 80 40;
  --oui-gradient-primary-end: 80 255 160;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 176 132 233;

  --oui-gradient-success-start: 0 80 40;
  --oui-gradient-success-end: 80 255 160;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 0 80 40;
  --oui-gradient-brand-end: 80 255 160;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}
