:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 0 25 0;
  --oui-color-primary-light: 3 20 0;
  --oui-color-primary-darken: 2 25 0;
  --oui-color-primary-contrast: 0 20 10;

  --oui-color-link: 0 15 0;
  --oui-color-link-light: 2 31 0;

  --oui-color-secondary: 0 60 25;
  --oui-color-tertiary: 0 45 20;
  --oui-color-quaternary: 0 35 15;

  --oui-color-danger: 255 70 120;
  --oui-color-danger-light: 255 150 170;
  --oui-color-danger-darken: 200 40 80;
  --oui-color-danger-contrast: 15 0 0;

  --oui-color-success: 0 20 0;
  --oui-color-success-light: 1 30 1;
  --oui-color-success-darken: 0 15 3;
  --oui-color-success-contrast: 0 20 10;

  --oui-color-warning: 255 210 80;
  --oui-color-warning-light: 255 235 150;
  --oui-color-warning-darken: 255 170 40;
  --oui-color-warning-contrast: 10 10 5;

  --oui-color-fill: 5 10 5;
  --oui-color-fill-active: 10 25 15;

  --oui-color-base-1: 0 25 10;
  --oui-color-base-2: 0 20 9;
  --oui-color-base-3: 0 18 8;
  --oui-color-base-4: 0 15 7;
  --oui-color-base-5: 0 13 6;
  --oui-color-base-6: 0 11 5;
  --oui-color-base-7: 0 9 4;
  --oui-color-base-8: 0 8 3;
  --oui-color-base-9: 0 6 2;
  --oui-color-base-10: 0 4 1;

  --oui-color-base-foreground: 4 19 1;
  --oui-color-line: 0 80 40;

  --oui-color-trading-loss: 255 90 130;
  --oui-color-trading-loss-contrast: 15 0 0;
  --oui-color-trading-profit: 0 10 1;
  --oui-color-trading-profit-contrast: 0 20 10;

  /* gradients */
  --oui-gradient-primary-start: 0 90 45;
  --oui-gradient-primary-end: 0 255 140;

  --oui-gradient-secondary-start: 0 70 35;
  --oui-gradient-secondary-end: 0 255 120;

  --oui-gradient-success-start: 0 90 40;
  --oui-gradient-success-end: 0 255 150;

  --oui-gradient-danger-start: 150 30 70;
  --oui-gradient-danger-end: 245 100 130;

  --oui-gradient-brand-start: 0 80 40;
  --oui-gradient-brand-end: 0 255 130;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 120 90 0;
  --oui-gradient-warning-end: 255 210 60;

  --oui-gradient-neutral-start: 0 25 10;
  --oui-gradient-neutral-end: 0 35 15;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}